<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkpoint App</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link href="http://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browserhappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="center">
        <h1 class="text-center">Estimation Results by Checkpoint&trade;</h1>
        <div class="container width-md">
            <h3>You should leave by</h3>
            <h2 id="timestamp1"><%= estimatedLeaveTime %></h2>
            <table class="table">
                <tbody>
                <tr>
                    <td>Flight Number</td>
                    <td><%= flightNumber %></td>
                </tr>
                <tr>
                    <td>Origin</td>
                    <td><%= airportOriginName %> (<%= airportOriginCode %>)</td>
                </tr>
                <tr>
                    <td>Destination</td>
                    <td><%= airportDestinationName %> (<%= airportDestinationCode %>)</td>
                </tr>
                <tr>
                    <td>Scheduled Departure Time</td>
                    <td id="timestamp2"><%= filedDepartureTime %></td>
                </tr>
                <tr>
                    <td>Estimated Departure Time</td>
                    <td id="timestamp3"><%= estimatedDepartureTime %></td>
                </tr>
                <tr>
                    <td>Delay</td>
                    <td><%= departureDelay %> mins</td>
                </tr>
                <tr>
                    <td>Travel time to <%= airportOriginCode %></td>
                    <td><%= estimatedTravelTime %> mins</td>
                </tr>
                <tr>
                    <td>Estimated Security Checkpoint Wait Time at <%= airportOriginCode %></td>
                    <td><%= checkpointWaitTime %> mins</td>
                </tr>
                <tr>
                    <td>Baggage</td>
                    <td><%= baggage %></td>
                </tr>
                <tr>
                    <td>Check In</td>
                    <td><%= checkIn %></td>
                </tr>
                </tbody>
            </table>
            <a href="/">
                <button class="btn btn-lg btn-primary btn-block top-bottom-margin-sm width-xs">Back</button>
            </a>
        </div>
    </div>


</body>
<script type="text/javascript">
    var timestamp1 = document.getElementById('timestamp1');
    var timestamp2 = document.getElementById('timestamp2');
    var timestamp3 = document.getElementById('timestamp3');
    var mydate1 = new Date(timestamp1.innerHTML);
    var mydate2 = new Date(timestamp2.innerHTML);
    var mydate3 = new Date(timestamp3.innerHTML);
    timestamp1.innerHTML = new Date(mydate1);
    timestamp2.innerHTML = new Date(mydate2);
    timestamp3.innerHTML = new Date(mydate3);
</script>
</html>

